[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/home/ubuntu/.pyenv/shims/jupyter notebook --ip 0.0.0.0 --no-browser --notebook-dir=/home/ubuntu/jupyter-notebooks
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/jupyter-notebooks/
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
